<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
">
    
    <aop:aspectj-autoproxy />
    
    <bean id="aspect" class="pl.sages.spring.lab.MyAspect">
    </bean>
    
    <bean id="interceptor" class="pl.sages.spring.lab.MyInterceptor"/>
    
    <aop:config>

        <aop:aspect ref="aspect">
            <aop:before method="interceptBefore" pointcut="bean(targetBean)" />
        </aop:aspect>
        <aop:aspect ref="interceptor">
            <aop:around method="intercept" pointcut="bean(targetBean)"/>
        </aop:aspect>
        
        <!--<aop:aspect ref="interceptor">-->
            <!--<aop:around method="intercept" pointcut="execution (public * pl.com.softproject.springtestaltkom.springaspect.TargetBean.method2 (..))"/>-->
        <!--</aop:aspect>-->
        
    </aop:config>

    <bean id="targetBean" class="pl.sages.spring.lab.TargetBean"></bean>

</beans>
