<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="pl.sages.spring"/>
    <context:property-placeholder location="system.properties"/>

   <!-- <bean name="person" class="pl.sages.spring.lab.Person">
        <property name="name" value="Tomek"/>
        <property name="lastName" value="Bel"/>
        <property name="address" ref="address1"/>
    </bean>


    <bean name="address1" class="pl.sages.spring.lab.Address">
        <property name="city" value="#{'${city}'.toUpperCase()}"/>
        <property name="street" value="Warsaw"/>
        <property name="number" value="123"/>
    </bean>-->

    <!-- Zdefiniuj bean Person -->

    <!-- Skonfiguruj obslugę adnotacji -->

</beans>